
.main {
  height: 100%;
}

.row {
  height: 100%;

  &-in {
    width: 100%;
    display: flex;
  }
}

.cover {
  position: relative;
  width: 100%;
  height: 50%;
  background-color: var(--primary-color);

  &-img {
    width: 100%;
    height: 100%;
  }
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;

  &-in {
    width: 100%;
    background-color: var(--dashboard-bg);
  }
}