.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.mb-22 {
  margin-block-end: 22px;
}

.active {
  display: block;
}

.d-none {
  display: none;
}
