.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.mb-22 {
  margin-block-end: 22px;
}

.ml-22 {
  margin-inline-start: 22px;
}

.ml-12 {
  margin-inline-start: 12px;
}

.active {
  display: block;
}

.d-none {
  display: none;
}
