:root {
  --black-rgb: 0, 0, 0;
  --black:rgb(var(--black-rgb));
  --white-rgb: 255, 255, 255;
  --white: rgba(var(--white-rgb), 1);
  --primary-rgb: 0, 124, 186;
  --primary: rgba(var(--primary-rgb), 1);
  --primary-black-rgb: 24, 41, 57;
  --primary-black: rgba(var(--primary-black-rgb), 1);
  --desc-color: #9f9f9f;
  --red-rgb: 255, 59, 48;
  --red: rgba(var(--red-rgb), 1);
  --primary-color: #602F6B;
  --primary-hover: #4c2555;
  --primary-border: #E2E8F0;
  --secondary-color: var(--white);
  --tertiary-color: #A0AEC0;
  --dashboard-bg: #F8F9FA;

  //nav colors
  --nav-item-hover-bg: #e7e6e6;
  --nav-item-active-bg: rgba(96, 47, 107, 50%);

  //Components
  //Tab
  --tab-color: #495056;
  --tab-active-color: rgba(var(--white-rgb), 1);
  --tab-active-bg: var(--primary);

  //Tab
  --tag-bg: #e7f1ff;
  --tag-color: rgba(var(--black-rgb), 1);
  --tag-i-fill: #687A9E;

  //Toggle
  --toggle-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
  --toggle-in: rgba(var(--white-rgb), 1);
  --toggle-bg: #BFBFBF;
  --toggle-active-bg: var(--primary-color);

  //Input
  --input-bg: rgba(var(--white-rgb), 1);
  --input-border: #D9D9D9;
  --input-color: #444;
  --input-placeholder-color: #8B949C;
  --input-error: #D3220B;


  //Dropdown
  --dropdown-bg: rgba(var(--white-rgb), 1);
  --dropdown-border: #D9D9D9;
  --dropdown-color: #444;
  --dropdown-placeholder-color: #8B949C;
  --dropdown-icon-fill: rgba(var(--black-rgb), 1);
  --dropdown-height: 200px;
  --dropdown-menu-bg: rgba(var(--white-rgb), 1);
  --dropdown-menu-shadow: 0 4px 12px 0 rgba(var(--black-rgb), 0.12);
  --dropdown-menu-item-hover: #F5F5F8;
  --dropdown-menu-item-color: #182939;
  --dropdown-menu-item-color-disabled: #B4BDCE;
  --dropdown-menu-item-action-hover: #e7f1ff;
  --dropdown-menu-item-action-color: var(--primary);

  //Button Primary
  --button-primary-border: var(--primary);
  --button-primary-bg: var(--primary-color);
  --button-primary-color: var(--secondary-color);
  //Button Secondary
  --button-secondary-border: #EAEBF0;
  --button-secondary-bg: rgba(var(--white-rgb), 1);
  --button-secondary-color: #182939;

  //Button Tertiary
  --button-tertiary-border: #E7F1FF;
  --button-tertiary-bg: #E7F1FF;
  --button-tertiary-color: var(--primary);

  //Button Insert
  --button-insert-bg: #E7F1FF;
  --button-insert-color: #182939;

  //Button Tertiary
  --button-minimal-border: transparent;
  --button-minimal-bg: transparent;
  --button-minimal-color: var(--primary);

  //Popup
  --popup-overlay: rgba(var(--black-rgb), 0.4);
  --popup-shadow: 0 0 12px 0 rgba(var(--black-rgb), 0.05);
  --popup-bg: rgba(var(--white-rgb), 1);
  --popup-header-color: #444;
  --popup-header-desc-color: #9A9A9A;

  //Notification
  --notification-bg: rgba(var(--white-rgb), 1);
  --notification-shadow: 0 0 12px 0 rgba(var(--black-rgb), 0.05);
  --notification-success: #34C759;
  --notification-warning: #EBA23A;
  --notification-error: var(--red);
  --notification-title-color: #232323;
  --notification-desc-color: #171717;
  --notification-fill: rgba(var(--black-rgb), 0.8);

  //Tooltip
  --tooltip-fill: #646464;
  --tooltip-bg: rgba(var(--white-rgb), 1);
  --tooltip-shadow: drop-shadow(0 0 12px rgba(var(--black-rgb), 0.2));
  --tooltip-color: rgba(var(--black-rgb), 1);

  //Scrollbar
  --scroll-thumb: var(--primary);
  --scroll-track: transparent;

  //Expandable Container
  --exp-color: var(--primary);
  --exp-border: rgba(var(--primary-rgb), 0.4);

  //Content
  --content-border: #C3C4C7;
  --content-tabs-bg: #F9F9F9;
  --content-body-bg: rgba(var(--white-rgb), 1);

  --content-divider: #f2f2f2;
  --content-divider-light: #eaeaea;
  --content-title-color: #444;
  --content-subtitle-color: #a1a1a1;
  --content-footer-bg: #FBFBFD;
  --content-footer-border: #F2F2F2;

  --content-empty-icon-bg: #f2f2f2;
  --content-empty-icon-fill: #1C1B1F;
  --content-empty-title-color: #131314;
  --content-empty-subtitle-color: #646569;


  //template
  --t-card-b: #F2F2F2;
  --t-card-bg-hover: #F7F7F7;
  --t-card-icon-bg: #F3F3F3;

  //AI Settings
  --question-border: #535353;
  --question-color: #535353;

  //Advanced
  --table-header-color: #B8B8B8;
  --table-body-item-default-bg: rgba(239, 239, 239, 0.3);
  --table-body-item-hover-bg: rgba(239, 239, 239, 0.8);
  --warning-color: #FFA50C;
  --warning-hover: #E3920A;
  --error-color: #FF303A;
  --error-hover: #D4272F;

  //field
  --field-bg: #F4F4F4;
  --field-color-active: #007AFF;
  --field-color-disabled: #73757A;

  //Table Accordion
  --table-accordion-border: #EAEAEA;
  --table-accordion-color: rgba(var(--black-rgb), 1);
  --table-accordion-i: #2E2E2E;
  --table-accordion-content-bg: #FAFAFA;


  // icons background color
  --bg-hover: #e8f1ff42;
  --bg-active: #e8f1ffb5;
  --button-bg-hover: #eae8e8;
  --button-bg-active: #d0cece;
  --button-color-hover: #737373;
  --button-color-active: #8d8c8c;

  //tables color

  --table-title-color:#2c3e50;
  --table-desc-color:#7f8c8d;
  --table-border-color:#d1d9e6;

  //pagination colors
  --pagination-info-color:#555;

  //Font Size
  --fs-12: 12px;
  --fs-13: 13px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-20: 20px;
  --fs-22: 22px;
  --fs-24: 24px;
  --fs-26: 26px;
  --fs-28: 28px;
  --fs-30: 30px;
  --fs-32: 32px;

  //Font Weight
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  //Line Height
  --lh-16: 16px;
  --lh-18: 18px;
  --lh-20: 20px;
  --lh-22: 22px;
  --lh-24: 24px;
}

$wp-breakpoint: 782px;
$wp-lg-breakpoint: 1200px;