.editor {
  &-title {
    height: 100%;

    &-in {
      font-size: var(--fs-14);
      font-weight: var(--fw-600);

      &:not(:last-child) {
        margin-block-end: 8px;
      }
    }

    &-desc {
      height: auto;
      padding: 10px;
      background-color: var(--dashboard-bg);
      border-radius: 6px;
    }
  }

  &-actions {
    margin-block-start: auto;
    border-radius: 6px;

    &-in {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;
    }

    &.secondary {
      &:not(:first-child) {
        margin-block-start: 20px;
      }
    }
  }

  &-textarea {
    height: 100%;
    min-height: 200px;
    padding: 10px;
    background-color: var(--dashboard-bg);
    border-radius: 6px;
    resize: none;
  }

}