.pagination {
  width: 100%;

  &-in {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &-item {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: var(--fs-14);

    &.active {
      background-color: var(--primary-color);
      color: var(--white);
      border: none;
    }
  }
}