.pagination-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-block-start: 32px;

  .pagination-info {
    font-size: var(--fs-14);
    color: var(--pagination-info-color);
  }

  .pagination {
    display: flex;
    list-style: none;
    gap: 8px;


    &-in {
      display: flex;
    }

    &-item {
      padding: 8px 14px;
      font-size: var(--fs-14);
      font-weight: var(--fw-500);
      color: var(--primary-color);
      text-decoration: none;
      border: 1px solid var(--primary-color);
      border-radius: 6px;
      transition: all 0.25s ease-in-out;

      &:hover {
        background-color: var(--primary-color);
        color: var(--white);
      }

      &.active {
        background-color: var(--primary-color);
        color: var(--white);
        pointer-events: none;
      }

      &.disabled {
        opacity: 0.4;
        pointer-events: none;
        border-style: dashed;
      }
    }
  }
}
