.progress-bar {
  position: relative;
  height: 8px;
  background-color: #eee;
  border-radius: 4px;
  margin-bottom: 50px;

  .progress-bar-fill {
    position: absolute;
    height: 100%;
    background-color: var(--primary-color);
    width: 0;
    border-radius: 4px;
    transition: width 0.3s ease;
    z-index: 1;
  }

  .progress-steps {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -18px;
    left: 0;
    right: 0;
    z-index: 2;

    .step {
      width: 40px;
      height: 40px;
      background-color: #ddd;
      color: #444;
      font-size: 14px;
      border-radius: 50%;
      line-height: 24px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease, color 0.3s ease;

      &.active {
        background-color: var(--primary-color);
        color: #fff;
      }
    }
  }
}
