.thumbnail {
  padding: 10px;
  border-radius: 6px;
  background-color: var(--dashboard-bg);

  &-in {
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border: 1px dashed var(--thumbnail-border);
    border-radius: inherit;
  }

  &-input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
  }

  &-pic {
    width: 100px;
    height: 80px;
  }

  &-desc {
    font-size: var(--fs-12);
    color: var(--thumbnail-border);
  }
}